@page "/coffe"

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Buy me a coffe</h4>
        <hr />
    </div>
    <div class="card-body" align="center">
        <p>You can donate via the link to help spread the idea of ad-free and free software development and to support me in making this work.</p>
        <p>If you have an idea to help, or if you have encountered a bug and need support, or if you think we should work together, you can send me an email.</p>
        <a href="mailto:runaho2@protonmail.ch">runaho2@protonmail.ch</a>
        <hr />
        <a href="https://www.buymeacoffee.com/runaho">
            <img height="auto" src="_content/AFUPS.SharedUI/assets/img/coffe.jpeg" />
        </a>
    </div>
</div>
