@code {
    [Parameter]
    public int ActiveLinksCount { get; set; }
}
<div class="card card-stats">
    <div class="card-body">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-favourite-28 text-primary"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">Active Links</p>
                    <p class="card-title">@ActiveLinksCount</p><p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="nc-icon nc-sound-wave"></i>
            In the last hour
        </div>
    </div>
</div>