@code {
    [Parameter]
    public int ArchiveCount { get; set; }

    [Parameter]
    public string ArchiveSize { get; set; }

    [Parameter]
    public int NotUploadedArchiveCount { get; set; }
}
<div class="card card-stats">
    <div class="card-body">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-favourite-28 text-primary"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">Created Archives</p>
                    <p class="card-title">@ArchiveCount</p>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="nc-icon nc-sound-wave"></i>
            Total size of archives @ArchiveSize
            @if (NotUploadedArchiveCount > 0)
            {
                <a href="/archives" class="text-danger" style="font-size:x-small">
                    Un-Uploded Archives Found @NotUploadedArchiveCount
                </a>
            }
        </div>
    </div>
</div>