@code {
    [Parameter]
    public int NotUploadedArchiveCount { get; set; }
}


<div class="card card-stats">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-vector text-danger"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">Archives Not Uploaded</p>
                    <p class="card-title">@NotUploadedArchiveCount</p><p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <hr>
        <div class="stats">
            <i class="nc-icon nc-sound-wave"></i> <a href="/archives">Go to archives.</a>
        </div>
    </div>
</div>
